$color-cyan: hsl(171, 66%, 44%);
$color-blue: hsl(233, 100%, 69%);
$color-grey-1: hsl(210, 10%, 33%);
$color-grey-2: hsl(201, 11%, 66%);

$bp-1: 56.25em; // 900px
$bp-2: 37.5em; // 600px

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: $color-grey-2;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0 5rem;
}

.section-heading {
  width: min(90%, 65rem);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  &__photo {
    width: 7rem;

    @media only screen and (max-width: $bp-2) {
      width: 10rem;
    }
  }

  &__subtitle {
    text-align: center;
  }

  &__buttons {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 2rem;

    @media only screen and (max-width: $bp-2) {
      flex-direction: column;
      row-gap: 1.5rem;
    }
  }

  &__button {
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: 1rem 3rem;
      border-radius: 100rem;
      font-size: 1.6rem;
      transition: opacity 0.2s;
    }

    &--cyan {
      background-color: $color-cyan;
      box-shadow: 0 0.25rem 0.1rem hsl(171, 68%, 32%);
    }

    &--blue {
      background-color: $color-blue;
      box-shadow: 0 0.25rem 0.1rem hsl(233, 46%, 48%);
    }

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4rem;

  &--1 {
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  &--2 {
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  &--3 {
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  &__features-1 {
    width: min(80rem, 100%);

    display: flex;
    align-items: center;
    column-gap: 1rem;

    @media only screen and (max-width: $bp-1) {
      flex-direction: column;
      row-gap: 3rem;
    }
  }

  &__left {
    width: 50%;

    @media only screen and (max-width: $bp-1) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    @media only screen and (max-width: $bp-1) {
      width: 70%;
    }
  }

  &__photo-1 {
    width: 65rem;
    translate: -35rem 0;

    @media only screen and (max-width: $bp-1) {
      translate: 0;
      width: 100%;
    }
  }

  &__features-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media only screen and (max-width: $bp-1) {
      align-items: center;
    }
  }

  &__description {
    line-height: 1.5;

    @media only screen and (max-width: $bp-1) {
      text-align: center;
    }
  }

  &__tools {
    text-align: center;
    width: min(115rem, 100%);

    display: flex;
    column-gap: 1.5rem;

    @media only screen and (max-width: $bp-2) {
      flex-direction: column;
      row-gap: 6rem;
    }
  }

  &__tool-box {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    @media only screen and (max-width: $bp-2) {
      width: 100%;
    }
  }

  &__tool-icon {
    width: 4rem;
    height: 4rem;
  }

  &__tool-sub {
    line-height: 1.5;
  }

  &__companies {
    width: min(120rem, 100%);
    margin-top: 8rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-items: center;
    gap: 4rem;

    @media only screen and (max-width: $bp-2) {
      row-gap: 6rem;
    }
  }

  &__company-logo {
    width: 13rem;
  }

  &__cta {
    padding: 5rem 0;
  }
}

.footer {
  background-color: rgba($color-grey-2, 0.1);
  padding: 2rem;
  margin-top: 4rem;

  &__content {
    width: min(115rem, 100%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10rem;

    @media only screen and (max-width: $bp-1) {
      flex-direction: column;
      row-gap: 4rem;
    }
  }

  &__logo {
    width: 5rem;
  }

  &__list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 5rem;

    @media only screen and (max-width: $bp-1) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-2) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  &__item--4 {
    @media only screen and (max-width: $bp-2) {
      grid-row: 2 / 3;
    }
  }

  &__item--5 {
    @media only screen and (max-width: $bp-2) {
      grid-row: 4 / 5;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-1;
      transition: color, 0.2s;
    }

    &:hover,
    &:active {
      color: $color-cyan;
    }
  }

  &__socials {
    margin-left: auto;

    display: flex;
    align-items: center;
    column-gap: 2rem;

    @media only screen and (max-width: $bp-1) {
      margin-left: unset;
    }
  }

  &__social {
    &:link,
    &:visited {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__social-icon {
    fill: $color-grey-1;
    height: 100%;
    transition: fill 0.2s;
  }

  &__social:hover &__social-icon {
    fill: $color-cyan;
  }

  &__social:active &__social-icon {
    fill: $color-cyan;
  }
}

.heading-1 {
  font-size: 4rem;
  color: $color-grey-1;
  text-align: center;
}

.heading-2 {
  color: $color-grey-1;

  @media only screen and (max-width: $bp-2) {
    text-align: center;
  }
}

.heading-3 {
  color: $color-grey-1;

  @media only screen and (max-width: $bp-2) {
    text-align: center;
  }
}
